<div class="jumbotron center">
	<h1>Hi there! </h1> <p> 
	<p> Welcome to my app :-) </p>
	<p>
		<%= link_to "Log in", "#", class: "btn btn-default bnt-lg" %>
		<%= link_to "Sign up", "#", class: "btn btn-primary bnt-lg" %>
</p>
</p>
</div>
